.payments-wrapper {
	width: 100%;
	padding: 16px;
	border: 1px solid rgba(0, 0, 0, 0.14);
	border-radius: 8px;
	background: white;
}

.title-dropdown-flex {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.title-row {
	display: flex;
	justify-content: space-between;
	margin-top: 30px;
	padding-bottom: 8px;
	border-bottom: 1px solid #d2d2d2;

	span {
		font-size: 12.5px;
		font-weight: 500;
		color: #9d9d9d;
	}
}

.cols-wrapper {
	display: grid;
	margin-top: 30px;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: repeat(3, auto);
	gap: 16px 30px;
	align-items: center;
}

.user-info {
	display: flex;
	gap: 12px;

	p {
		font-weight: 600;
		font-size: 15px;
		color: #2D3541;
	}

	span {
		font-size: 12.5px;
		color: #9d9d9d;
	}
}

.action {
	font-size: 12.5px;
	font-weight: 500;
	color: var(--button-primary);
}

.progress-bar-wrapper {
	display: flex;
	align-items: center;
	gap: 10px;
}

.progress-bar-container {
	width: 185px;
	height: 15px;
	background-color: #EFEFEF;
	border-radius: 62px;
	overflow: hidden;
}

.progress-bar-fill {
	height: 100%;
	background-color: #37AB2C;
}

.progress-bar-label {
	color: #9d9d9d;
	font-size: 12.5px;
}

.badge {
	position: relative;
	padding: 4px 6px;
	padding-left: 22px;
	font-size: 12.5px;
	font-weight: 500;
	color: white;
	border-radius: 60px;

	&.red {
		color: #DA2323;
		background-color: rgba(171, 44, 44, 0.18);

		&:after {
			content: '';
			position: absolute;
			left: 7px;
			top: 9px;
			height: 6.30px;
			width: 6.30px;
			background-color: #DA2323;
			border-radius: 50%;
		}
	}

	&.green {
		color: #37AB2C;
		background-color: rgba(55, 171, 44, 0.15);

		&:after {
			content: '';
			position: absolute;
			left: 7px;
			top: 9px;
			height: 6.30px;
			width: 6.30px;
			background-color: #37AB2C;
			border-radius: 50%;
		}
	}



}