.tranlation-wrapper {
	display: flex;
	flex-direction: column;
	gap: 16px;
	max-width: 555px;
	padding: 16px;
	border: 1px solid rgba(0, 0, 0, 0.14);
	border-radius: 8px;
	background: white;
}

.flex {
	display: flex;
	justify-content: space-between;

	button {
		width: 82px;
		height: 24px;
	}
}