.profile-wrapper {
	width: 100%;
	padding: 16px;
	border: 1px solid rgba(0, 0, 0, 0.14);
	border-radius: 8px;
	background: white;
}

.flex-wrapper {
	display: flex;
	margin-top: 15px;
	gap: 15px;
}

.form {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.span-label-wrapper {
	display: flex;
	flex-direction: column;
	gap: 9px;

	&:not(:last-child) {
		margin-bottom: 14px;
	}

	label {
		font-weight: 500;
		font-size: 14px;
	}

	span {

		padding: 6px 7px;
		font-size: 13px;
		border: 1px solid rgba(0, 0, 0, 0.14);
		border-radius: 2px;

	}
}